@{
    ViewData["Title"] = "Gather books from BookBrowse";
}
<div class="row">
    <div class="text-center col-lg-6 offset-3">
        <a class="btn-primary btn-outline-dark form-control" asp-area="Admin" asp-controller="GatherBooks" asp-action="Add">Seed books in database</a>
    </div>
</div>